.page_flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
}

.employees_list {
}

.garden_city {
  display: flex;
  justify-content: center;
  > svg {
    width: 250%;
  }
}
